<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
    <h1>ini adalah number random <%= angka %></h1>
    <% if (angka % 2 === 0) { %>
        <h1>angka genap</h1>
   <% }else
   {%><h1>angka ganjil</h1><% } %>
   <hr>
   <h3>that number is: <%= angka%2 === 0 ? 'genap' : 'ganjil'%></h3>
   <%- include('partials/footer.ejs') %>