<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

    <h1>
        tag = <%= data.title %>
    </h1>
        <h3><%= data.followers  %></h3>
        <p><%= data.description %></p>
        <% if(data.img)  {%> 
        <img src="<%= data.img %>" alt="" width="60px" height="60px">
        <%} %>

        <% for(let post of data.posts) { %> 
           <article>
               <h3><%= post.title %> - <%= post.author %></h3>
           </article>
           
           <% }%>

<%- include('partials/footer.ejs') %>